@import url("./variables.scss");

.navigation {
    position: fixed;
    top:0;
    z-index: 2;
    background-color: $background-white;
    width: 100%;
    border-bottom: 1px solid $border-color-grey;
}