.menu {
    display: flex;
    align-items: center;
    padding-right: 1.5em;

    .icon{
        margin-right: 1.2em;
        width: 25px;
        height: 25px;

        &:hover{
            cursor: pointer;
        }
    }
    
}