@import "./properties";

.navigation {
    position: fixed;
    top:0;
    z-index: 2;
    background-color: $background-white;
    width: 100%;
    border-bottom: 2px solid $background-grey-dark;
}

.container {
    padding: 1em 0 0.9em 0;
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;

    .logo {
        padding: 0 1em;
        width: 130px;
        height: 50px;

        &:hover {
            cursor: pointer;

        }
    }

    .search {
        //border: 1px solid $border-color-grey;
        border-radius: 10px;
        background-color: $background-grey-dark;
        min-width: 225px;
        height: 40px;
        margin-top: 8px;
        padding-inline: 20px;
        display: flex;
        align-items: center;
        justify-content: left;

        .searchIcon {
            width: 15px;
            opacity: 0.4;
            margin-right: 0.3rem;
            
        }

        input {
            outline: 0;
            border: none;
            background: none;
        }
    }
}

@media only screen and (max-width: 500px) {
    .search {
        display: none !important;
    }
}